flickity.css
flickity.js
smooth-scroll.js
img/masteranxiety.ai

img/anxiety2.svg

img/anxiety2_proto-02.svg

img/team/fiona_macneill.jpg

img/team/theo_fotis.jpg

img/patientsvgplch.svg

img/anxiety.svg

img/patientsvgplch.svg

img/team/fiona_macneill 2.jpg

img/anxiety.svg

img/patientsvgplch.svg

img/team/theo_fotis 2.jpg

README.txt

src/css/normalize.css

src/index.html

img/anxiety.svg

img/patientsvgplch.svg

img/anxiety.svg

img/patientsvgplch.svg
