

.wrapper {
    position: relative;
    /* top | right | bottom | left */
    padding: 0 10px 0 0;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    box-sizing: border-box;
}


.site-header {
    z-index: 3;
    overflow: hidden;
    position: relative;
    height: 80px;

}

.site-header h1{
    /* top | right | bottom | left */
    margin: 30px 0 20px 10px;
    display: none;
}

nav{
    float: left;
    z-index: 4;
    height: 80px;
    width: 100%;
    list-style: none;
    display: inline-block;
    line-height: 0;
    background: #FFF;
    top: 0;
    left: 0;
}


nav .padded {
    padding: 30px;
}

nav ul{
    /* top | right | bottom | left */
    margin: 20px 0 40px 10px;
    float: left;
    display: inline;
    width: 100%;
    list-style: none;
    padding: 0;
}

nav ul li{
    /* top | right | bottom | left */
    padding: 20px 5px 20px 5px;
    float: left;
    display: inline;
}

nav a{
    margin-right: 5px;
    /* top | right | bottom | left */
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    margin-right: 5px;
    /* top | right | bottom | left */
    padding: 10px 10px 10px 10px;
    background: #5b55b9;
    color: white;
    border-radius: 5px;

}

nav ul li a:active {
    background: #00aeef;
    color: #000;
}


.page-nav-spacer {
    height: 30px;
}

/*/////////////////////
//                   //
//     Typography    //
//                   //
/////////////////////*/

body {
    color: #333333;
}

ul {
    text-align: left;
    list-style: circle;
}


.free-header{
    /* top | right | bottom | left */
    margin: auto;
    padding: 2% 0 2% 0;
    width: 100%;
    text-align: center;
}

.color-bk-header{
    /* top | right | bottom | left */
    margin: 0 auto 0 auto;
    padding: 2% 0 2% 0;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.device-desc{
    text-align: left;
}




/* content sections */

.about-area {
    /* top | right | bottom | left */
    margin: 5% 0 2% 0;
    padding: 2% 0 0 0;
    position: relative;
    overflow: auto;
}



.about_img {
    /* top | right | bottom | left */
    margin: auto;
    display: block;
    height: 80px;
    width: 80px;
    background: #FFF;
    border-radius: 100%;
}

.team-area {
    /* top | right | bottom | left */
    margin: 0 0 2% 0;
    padding: 2% 0 2% 0;
    border-radius: 5px;
    position: relative;
    overflow: auto;
    background: #5b55b9;
}


.team-img{
    -moz-box-shadow: 0 5px 5px -3px black;
    -webkit-box-shadow: 0 5px 5px -3px black;
    box-shadow: 0 5px 5px -3px black;
    width: 100%;
    height: 100%;
    max-width: 180px;
}


.team-area-desc{
    /* top | right | bottom | left */
    margin: 2% 2% 0 2%;
    padding: 0 0 0 2%;

}

.device-area {
    /* top | right | bottom | left */
    margin: 0 0 2% 0;
    padding: 2% 0 2% 0;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

/* Device-img is based on column 4 and is in the grid section */

.device-img-sz{
    /* top | right | bottom | left */
    margin: -10% -10% -10% -10%;
    width: 110%;
    height: 120%;
}

.contact-area {
    /* top | right | bottom | left */
    margin: 0 0 2% 0;
    padding: 2% 0 0 0;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

.links-area {
    /* top | right | bottom | left */
    margin: 0;
    padding: 2% 0 0 0;
    border-radius: 5px;
    position: relative;
    overflow: auto;
    background: #5b55b9;
}


/*///////////////
//             //
//     Grid    //
//             //
///////////////*/


/* CSS grid handwritten by Fiona MacNeill, inspired by: http://j4n.co/blog/Creating-your-own-css-grid-system
|| https://github.com/h5bp/html5-boilerplate and Dave Gamache's Skeleton V2.0.4: http://getskeleton.com/
|| One% CSS Grid: http://onepcssgrid.mattimling.com/ - Nov 2016
|| 12 column layout - original pixel dimensions column: 65px, gutter: 15px
|| This grid is used to layout all the text residing in the sections */



.grid-container {
    width: 100%;
    max-width: 1000px;
    display: block;
    /* top | right | bottom | left */
    margin: 0 auto 10% auto;
    padding: 0 0 0 1%;
    box-sizing: border-box;

}

.row-align{
    clear: both;
    /* top | right | bottom | left */
    margin: auto 1.5% auto 5%;
}

/* used in situations where the height of text columns need to match height */

.single-row {
    float: left;
    clear: both;
    /* top | right | bottom | left */
    margin: auto 1.5% auto 5%;
    display: flex;
    flex-wrap: wrap;
}



/* tried this and hated it
.is-table-row {
    display: table;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    border: solid 7px #EEEEEE;
    border-radius: 0;
}
*/

.col {
    float: left;
    /* top | right | bottom | left */
    margin: 1% 0 2% 0;
    padding: 1%;
    text-align: center;
    /*border: solid 1px black;*/
    border-radius: 5px;
}

/* One column width - (65px X 12) + (15px x 12) = 960px total width */
.col.col-0 {
    width: 6.5%;
    margin-right: 1.5%;

}

/* Two column widths : 130px + 15px = 145px per column */
.col.col-1 {
    width: 14.5%;
    margin-right: 1.5%;

}

/* Three column widths : 195px + (15px x 2) = 225px per column */
.col.col-2 {
    width: 22.5%;
    margin-right: 1.5%;
}

.team-photo {
    min-width: 120px;
    /* top | right | bottom | left */
    margin-right: 1.5%;
    padding: 0 5px 0 0;
}

/* Four column widths : 260px + (15px x 3) =  305px per column */
.col.col-3 {
    width: 30.5%;
    margin-right: 1.5%;
}

/* Styling for free standing columns */
.free-columns {
    border: solid 2px #EEEEEE;

}

/* Six column widths : 390px + (15 x 5) =  465px per column */
.col.col-4 {
    width: 46.5%;
    margin-right: 1.5%;
}

/* Styling for device image based on column 4 - remove*/
.col.device-img {
    width: 46.5%;
    margin-right: 1.5%;
    padding: 0;
    overflow: hidden;
    border: solid 2px #EEEEEE;
    object-fit: scale-down;
}

/* twelve column widths : 960px (total width) - 15px = 945px */
.col.col-5 {
    width: 94.5%;
    margin: 1.5%;
}

/* Based on col-5 */
.col.full-width{
    width: 94.5%;
}

/* eleven column widths for combined column plus margins and adjustment
- Total width: (65 X 11) + (15 X 10 for margin-right value) =  865px */

.col-6.later {
    width: calc((6.5% * 11) + (1.5% * 10));

}

.col-7.later {
    width: calc((6.5% * 10) + (1.5% * 9));

}

.col-8.later {
    width: calc((6.5% * 9) + (1.5% * 8));

}

/* Text background that uses col-8 as the basis - this is for consistent styling */
.bios {
    background: #c0c8eb;
    text-align: left;
    margin-left: 5px;
    min-height: 170px;
}

.col-9.later {
    width: calc((6.5% * 8) + (1.5% * 7));
}

.col-10.later {
    width: calc((6.5% * 6) + (1.5% * 5));

}

/* This column is unique and not based on a column ancestor thus it needs it's own margin */

.col-11.later {
    width: calc((6.5% * 8) + (1.5% * 7));
    margin-right: 1.5%;
}

.col-12.later {
    width: calc((6.5% * 4) + (1.5% * 3));

}

/*////////////////////////////////////////////
//                                          //
//  Timeline image and Information boxes    //
//                                          //
////////////////////////////////////////////*/

/* This timeline is inspired by https://duckduckgo.com/about and uses Flickity.js
// as the carousel: http://flickity.metafizzy.co/ */




.tl_grid {
    z-index: 4;
    /* top | right | bottom | left */
    margin: 0 auto 10% auto;
    padding-bottom: 10%;
    position: absolute;
    height: 80%;
    width: 100%;

}

.tl_img {
    /* top | right | bottom | left */
    margin: 2% auto 0 auto;
    display: block;
    height: 100px;
    width: 100px;
    background: #FFF;
    border-radius: 100%;
}

.tl_title{
    /* top | right | bottom | left */
    margin: 2% auto 0 auto;
    font-weight: normal;
    color: #FFF;
    text-align: center;
}


.tl_desc{
    /* top | right | bottom | left */
    margin: 2% auto 20% auto;
    padding: 0 10% 20% 10%;
    text-align: center;
}

/*////////////////////////////
//                          //
//     Buttons & Forms      //
//                          //
////////////////////////////*/

button{
    /* top | right | bottom | left */
    margin: 1% auto 2% 1%;
    font-size: 16px;
    border-radius: 5px;
    background: #cccccc;
}

/* Desktop first media queries - this will generally be viewed from a desktop in the work environment */

/* larger than Desktop HD */
@media (min-width: 1200px) {

    body {
        font-size: 15px;
    }
}


/* larger than a desktop */
@media (min-width: 1000px) {

    body {
        font-size: 16px;
    }
}

/* larger than a tablet */
@media (max-width: 768px) {

    body {
        font-size: 14px;
        line-height: 26px;
    }

    /* larger phone or phablet */
    @media (max-width: 470px) {

        body {
            font-size: 13px;
            line-height: 24px;
        }
        .row-align {

        }

        .single-row {
            margin: 0 2% 2% 0;
        }

        .col.col-0,
        .col.col-1,
        .col.col-2,
        .col.col-3,
        .col.col-4,
        .col.col-5,
        .col.col-6.later,
        .col.col-7.later,
        .col.col-8.later,
        .col.col-9.later,
        .col.col-10.later,
        .col.col-11.later,
        .col.col-12.later {
            float: none;
            width: 99%;
            margin-right: 0;
        }

        .about-area {
            /* top | right | bottom | left */
            margin: 15% 4% 2% 0;

        }

        .free-header{
            /* top | right | bottom | left */
            margin: 0 auto 5% auto;
            padding: 2% 0 2% 4%;
        }

        .team-area {
            /* top | right | bottom | left */
            margin: 0 2% 2% 0;
            padding: 2% 4% 2% 0;
            border-radius: 5px;
            position: relative;
            overflow: auto;
            background: #5b55b9;
            width: 100%
        }

        .on-color-text {
            /* top | right | bottom | left */
            margin: auto 2% 2% 0;

        }


    }

    /* larger than a mobile phone */
    @media (max-width: 414px) {
        body {
            font-size: 12px;
            line-height: 14px;
        }

        .row-align {

        }

        .single-row {
            margin: 0 2% 2% 0;
        }

        .col.col-0,
        .col.col-1,
        .col.col-2,
        .col.col-3,
        .col.col-4,
        .col.col-5,
        .col.col-6.later,
        .col.col-7.later,
        .col.col-8.later,
        .col.col-9.later,
        .col.col-10.later,
        .col.col-11.later,
        .col.col-12.later {
            float: none;
            width: 99%;
            margin-right: 0;
        }

        .timeline-line-end {
            display: none;
        }

        /* ---- page dots ---- */
        .flickity-page-dots {
            display: none;

        }

        .tl_grid {
            /* top | right | bottom | left */
            margin: 5% auto 10% auto;
            height: 80%;

        }

        .tl_img {
            /* top | right | bottom | left */
            margin: 2% auto 5% auto;
            height: 70px;
            width: 70px;
        }

        .tl_title{
            /* top | right | bottom | left */
            margin: 2% 5% 5% 5%;
            padding: 0 5% 0 5%;
            font-size: 16px;
        }

        .tl_desc{
            /* top | right | bottom | left */
            margin: 2% 8% 20% 8%;
            text-align: center;
        }


        .tl_image_lv{
            display: none;
        }



        .about-area {
            /* top | right | bottom | left */
            margin: 0 4% 2% 0;

        }

        .free-header{
            /* top | right | bottom | left */
            margin: 0 auto 5% auto;
            padding: 2% 0 2% 4%;
        }

        .team-area {
            /* top | right | bottom | left */
            margin: 0 2% 2% 0;
            padding: 2% 4% 2% 0;
            border-radius: 5px;
            position: relative;
            overflow: auto;
            background: #5b55b9;
            width: 100%
        }

        .bios {
            /* top | right | bottom | left */
            margin: auto 2% 2% 0;

        }

    }
}