@media screen and (max-width: 900px)

.wrapper {
    position: relative;
    /* top | right | bottom | left */
    padding: 5px 5px 5px 5px;
    width: 100%;
    max-width: 900px;
    margin: 0;
    box-sizing: border-box;
}

.nav-style{
    height: 10%;
    width: 100%;
    position: fixed;
    float: right;
    /* top | right | bottom | left */
    margin: 0 0 0 72%;
    /* top | right | bottom | left */
    padding: 0 0 0 5px;
    background-color: #FFFFFF;
    line-height: 1;
}

.header-container-style {
    width: 100%;
    height: 20%;
    /* top | right | bottom | left */
    padding: 5px 0 0 0;
    border-bottom: solid 1px #cccccc;
}

.timeline-slide{
    width: 20%;
    height: 20%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}

    
}

#tlsl {
    list-style: none;
}

#tlsl li {
    display: inline-block;
}
    .timeline-nav_container{
        margin-left: 100px;
        overflow: hidden;
    }

    .timeline-item {
        box-sizing: border-box;
        border: 0 solid #fff;
        height: 26px;
        width: 26px;
        /* top | right | bottom | left */
        margin:-15px 0 0 120px;
        background: #FFFFFF;
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
        z-index: 20;
        border-radius: 100%;
        text-align: center;
    }

    .timeline-line-end {
        content: "";
        height: 2px;
        width: 100%;
        top: 60%;
        left: 0;
        margin: -1px 12px 0;
        background: #fff;
        position: absolute;
    }

    h1:first-child{

        padding:2%;
    }

    h2{
        text-align: center;
    }



    nav {
        padding-right: 10px;


    }

    nav ul {


    }

    nav ul li{
        text-align: center;
        display: inline-block;

    }

/* buttons */

/*Must sort this out!*/

button.next {
    cursor: pointer;
    width: 100%;
}

/* Parts are the areas that contain the <sections> on the page, they are targeted by the navigation buttons */
.part {
    /* top & bottom | right & left */
    padding: 3px 0;
}

.section {
    display: block;
}

.info-area {
    /* top | right | bottom | left */
    padding: 0 0 0 20px;
    background-color: #185776;
    height: 70vh;

}


.desc-area {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: left;
    /* top | right | bottom | left */
    margin: 5% 10% 10% 10%;
    /* top | right | bottom | left */
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
}


.patient-area {
    /* top | right | bottom | left */
     padding: 0 0 0 20px;
     background-color: #5b55b9;
     height: 85vh;
}


.left-desc-area {
    display: inline-block;
    float: none;
    /* top | right | bottom | left */
    margin: 5% 60% 0 10%;
    /* top | right | bottom | left */
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
}

.right-desc-area {
    display: inline-block;
    float: right;
    /* top | right | bottom | left */
    margin: 0 20% 0 45%;
    /* top | right | bottom | left */
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
}

.appointment-area {
    /* top | right | bottom | left */
    padding: 0 0 0 20px;
    background-color: #ffb55f;
    height: 85vh;
}

.wearable-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #150da6;
        height: 85vh;
}

.device-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #046796;
        height: 85vh;
}

.reschedule-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #ba721f;
        height: 85vh;
}

.information-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #193f52;
        height: 85vh;
}

.positive-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #ffd95f;
        height: 85vh;
}

.checkup-area {
        /* top | right | bottom | left */
        padding: 0 0 0 20px;
        background-color: #185776;
        height: 85vh;
}

    .btn-container-style {
    /* top | right | bottom | left */
    margin: 10px 0 10px 0;
    /* Typography and Paragraph styles */
    /* top | right | bottom | left */
    padding: 10px 0 10px 0;
    position: fixed;  top: 0;
    width: 100%;
    background-color:#FFF;
}

h1 {

    font-size: 1.5em;
    margin: 5px;
}


p {

}

footer {
    position: fixed;
}

/* ==========================================================================
   Helper classes - this section is from the HTM5 5 Boilerplate important
   for navigation with keyboard.
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
